#listing{
  padding:10px;
}

h1, h2, p, form, div{
    text-align: center;
}

#top{
  background-color:black;
  color: white;
  border-radius: 25px;
  padding: 1px;
}

input:invalid {
  border:1px solid red;
}

body {
  font-family: 'Average Sans', sans-serif;
  font-size:200%;
  background-image: url(blur.jpeg);
  background-size: cover;
}

#disc{
  font-size:10px;
}

#butt {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:20px;
    border-radius: 25px;
}

#bbutt {
    background-color: 	#008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#please{
  font-size:10px;
}

.appraisal-button {
  margin: 1em 1em 0;
}

.text-space{
  margin:2em !important;
}

.bold{
  font-weight:bold;
  font-size:200px;
}

.bio {
  font-size: 15px;
}

.value-egg-header {
  background-color:rgba(0,0,0,0.5);
  color: white !important;
}

.text-color {
  color: white;
}

.jumbotron {
  margin-top: 30px;
}

.jumbotron > h1 {
  font-family: 'Pacifico', cursive;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/*PSEUDO PDF*/

.pseudo-pdf {
  background-color: white;
  height: 900px;
  width: 700px;
  padding-top: 50px;
  color: black;
  box-shadow: 10px 10px 5px grey;
}

.VE-header{
  font-family: 'Pacifico', cursive;
  color: green;
  background-color: black;
}

.VE-header-small{
  color: white;
  font-size: 15px;
  font-family: 'Average Sans', san-serif;
}

.header-hr {
  height: 4px;
  color: yellow;
}

.content {
  padding: 25px;
}





/* AGENT HOVER AND SELECTION*/

.agent-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.david{
  background-image:url(david.jpg);
}
.agent2{
  background-image:url(agent2.jpg);
}
.agent3{
  background-image:url(agent3.jpg);
}

.agent-selector input:active +.r-agent{opacity: .9;}
.agent-selector input:checked +.r-agent{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.r-agent{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:250px;
    height:250px;
    border-radius: 50%;

    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.r-agent:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}

