<!DOCTYPE html>
<html ng-app="EappraiseApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> ValueEgg </title>

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

    <!--env variables and basic form control-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script type="text/javascript">
         var backendUrl = "<%= backendUrl %>";
        //  jQuery("myForm").submit(function(e){
        //     e.preventDefault();
        //     //or
        //     //return false;
        //   });

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-81289313-3', 'auto');
            ga('send', 'pageview');

      </script>

      <!-- script tags -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
      <script src="node_modules/angular-resource/angular-resource.js"></script>
      <script src="js/app.js"></script>
      <script src="js/reportController.js" charset="utf-8"></script>

      <!--autocomplete -->
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7V0v5x7FCdxtz5mwXtRw66pdzPNzRfmI&libraries=places"></script>
      <script type="text/javascript" src="bower_components/vsGoogleAutocomplete/dist/vs-autocomplete-validator.js"></script>
      <script type="text/javascript" src="bower_components/vsGoogleAutocomplete/dist/vs-google-autocomplete.js"></script>

      <!-- Bootstrap Core CSS -->
      <link href="css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="css/heroic-features.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <link rel="icon" type="image/ico" href="favicon.ico" sizes="32x32"/>

</head>

<body>
  <!-- controller tag -->
 <div ng-controller="ReportController as reportCtrl">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="https://arcane-stream-97612.herokuapp.com/">ValueEgg</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->

        <!-- Jumbotron Header -->
        <div class="container jumbotron text-center">
          <h1> Welcome to ValueEgg </h1><br>
          <h4> ValueEgg ensures you are getting the most value for you nest egg. We cut out the middleman and bring you a quick easy appraisal at your fingertips. </h4>

        </div>
        <!-- submit to http post to api -->
        <hr>

        <div class="row">
        <div class="container" ng-hide="showMe=showMe">
          <form name="myForm" class="add-report" ng-submit='reportCtrl.addReport()'>
              <div>
                <label for="gross_rent">Input your monthly rent:</label>
                <input type="number" id="gross_rent" placeholder="10000" ng-model='reportCtrl.newReport.gross_rent'  required="required">
                <p id="please"> Please use simple numeric format, ex. 7000, form won't accept formating like $7,000 </p>
              </div>

              <div>
                <label for="address">&nbsp &nbsp &nbsp &nbsp &nbsp Input your address:</label>
                <input vs-google-autocomplete vs-autocomplete-validator="vs-street-address" name="address" type="text" id="address" placeholder="1449 Lake Shore Avenue, Los Angeles, CA, 90026" ng-model='reportCtrl.newReport.address'  required="required">
              </div>

              <div>
                <!-- onclick to next page -->
                <button id="butt" type="submit" value="Get Appraised" ng-disabled="myForm.$invalid" ng-click="showMe=1;"> Get Appraised </button>
              </div>
            </form>

       </div>
     </div>

       <div class="row" ng-show="showMe==1">
           <div class="row">
             <div class="col-xs-12 col-md-12">
               <h3 class="text-center">Here is your estimated value</h3>
               <h1 class="text-center estimateLabel" ng-model="vm.newProperty.estimation" style="font-weight:bold; font-size:100px">
                  {{ (((reportCtrl.newReport.gross_rent*12)*0.65)/0.04)*.95 | currency : symbol : fractionSize}} - {{ (((reportCtrl.newReport.gross_rent*12)*0.65)/0.04)*1.05| currency : symbol : fractionSize}}</div>
               </h1>

               <form name="secondForm" class="add-report" ng-submit='reportCtrl.addReport()'>

                   <div>
                     <label for="email">Input your email for a list price and a cash offer:</label>
                     <input type="email" id="email" placeholder="joe@gmail.com" ng-model='reportCtrl.newReport.email'  required="required">
                   </div>

                   <div>
                     <!-- onclick to next page -->
                     <button id="butt" type="submit" value="Get Appraised" ng-disabled="secondForm.$invalid" ng-click="showMe=2;"> Get Appraised </button>
                   </div>
                 </form>

             </div>
           </div>




         <div class="container" ng-show="showMe==2">


             <!-- list price -->
             <h2 class="text-center estimateLabel">Listing Price:</h3>
             <h1 class="text-center estimateLabel" style="font-weight:bold; font-size:75px;">
               {{ ((reportCtrl.newReport.gross_rent*12)*0.65)/0.04 | currency : symbol : fractionSize}}
             </h2>
             <br>
             <br>
             <br>

             <!-- cash price -->
             <h2 class="text-center estimateLabel">Offer in Cash:</h3>
             <h1 class="text-center estimateLabel" style="font-weight:bold; font-size:75px;">
               {{ (((reportCtrl.newReport.gross_rent*12)*0.65)/0.04)*.7 | currency : symbol : fractionSize}}
             </h2>
             <br>

            <p> A agent will contact you within 48 hours, feel free to contact us </p>


                <a href="mailto:david@valueegg.com?Subject=Interested%20in%20cash%20offer" target="_top">Contact us</a>
        </div>






        <!-- Footer -->
        <footer id=".footer">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; ValueEgg 2016</p>
                       <div id="disc"> Disclaimer: This appraisal is not legally binding and is only for apartment / multifamily buildings in Silver Lake and Echo Park (90026) </div>
                </div>
            </div>
        </footer>
      <!-- end footer -->

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
