<!DOCTYPE html>
<html ng-app="EappraiseApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="description" content="">

    <title> ValueEgg </title>

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

    <!--jQuery-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

      <!--google analytics-->
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43263013-2', 'auto');
      ga('send', 'pageview');

    </script>

      <!-- script tags -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
      <script src="node_modules/angular-resource/angular-resource.js"></script>
      <script src="js/app.js"></script>
      <script src="js/reportController.js" charset="utf-8"></script>
      <script src="js/emailController.js" charset="utf-8"></script>
      <script src="js/numberAbbreviation.js" charset="utf-8"></script>

      <!--autocomplete -->
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7V0v5x7FCdxtz5mwXtRw66pdzPNzRfmI&libraries=places"></script>
      <script type="text/javascript" src="bower_components/vsGoogleAutocomplete/dist/vs-autocomplete-validator.js"></script>
      <script type="text/javascript" src="bower_components/vsGoogleAutocomplete/dist/vs-google-autocomplete.js"></script>

      <!-- Bootstrap Core CSS -->
      <link href="css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="css/heroic-features.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Average+Sans|Hind+Siliguri|Karma|Pacifico|Puritan" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <link rel="icon" type="image/ico" href="favicon.ico" sizes="32x32"/>

</head>

<!--hide {{}} on load -->
<body ng-cloak>
  <!-- controller tag -->
 <div ng-controller="ReportController as reportCtrl">




    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" href="http://www.valueegg.com/" style="color: white;">ValueEgg</a>
            </div>
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
               </ul>
           </div>
         </div>
    </nav>


     <div class="city-background container-fluid" ng-hide="header" id='tops'>
        <div class="container jumbotron text-center value-egg-header" style="border:1px solid black;">
             <h1> ValueEgg </h1><br>
             <h4> We give you an instant and accurate price for your apartment building. We’ll even buy it if you want! </h4>
           </div>
        </div>


     <div class="text-space"></div>

     <span ng-hide="showMe=showMe">
       <img src="css/darkprogress1.png" alt="">
     </span>
     <span ng-if="showMe==1" ng-show="showMe==1">
       <img src="css/darkprogress2.png" alt="">
     </span>
     <span ng-if="showMe==2" ng-show="showMe==2">
       <img src="css/darkprogress3.png" alt="">
     </span>
     <span ng-if="showMe==3" ng-show="showMe==3">
       <img id="hider" src="css/darkprogress4.png" alt=""id='printer'>
     </span>


     <hr>

     <!-- ADDRESS AND RENT INPUT PAGE -->
     <div class="row">
       <div class="container" ng-hide="showMe=showMe">
               <form name="myForm" class="add-report" ng-submit='reportCtrl.addReport();'>
                  <div>
                  <h3 class="text-center"> <b class="darkest">STEP 1 - YOUR RENT AND ADDRESS</b></h3>
                    <label class="nonbold" for="gross_rent">What is your total monthly rent?</label>
                    <input type="number" id="gross_rent" placeholder="10000" ng-model='reportCtrl.newReport.gross_rent' required="required">
                       <p id="please"> Only tell us the numbers don’t use any symbols (example: type 7000 instead of $7,000.00) </p>
                       <br>
                       <hr>
                  </div>

                  <div>
                     <label class="nonbold" for="address">Where is your building located?</label>
                     <input size="50" vs-google-autocomplete vs-autocomplete-validator="vs-street-address" name="address" type="text" id="address" placeholder="1449 Lake Shore Avenue, Los Angeles, CA, 90026" ng-model='reportCtrl.newReport.address' required="required">
                   </div>

                   <div>
                     <button id="butt" type="submit" value="Get Appraised" ng-disabled="myForm.$invalid" ng-click="showMe=1;" style="border:1px solid black;"> See list price range </button>
                   </div>

                 </form>
          </div>
      </div>

       <!-- EMAIL INPUT PAGE -->
        <div class="row" ng-show="showMe==1">
          <div class="row">
                 <div class="col-xs-12 col-md-12">
                   <h3 class="text-center"><b class="darkest">STEP 2 - LIST PRICE RANGE</b></h3>
                     <h3 class="text-center estimateLabel" ng-model="vm.newProperty.estimation" style="font-weight:bold; font-size:75px">
                      ${{ (((reportCtrl.newReport.gross_rent*12)*0.65)/0.04)*.95 | shortNumber}} - ${{ (((reportCtrl.newReport.gross_rent*12)*0.65)/0.04)*1.05| shortNumber}}
                    </h3>
                     <br>
                     <hr>
                  </div>

                  <form name="secondForm" class="add-report" ng-submit='reportCtrl.addReport();'>
                    <div>
                      <label class="nonbold" for="email">Want a exact list price? Give us your email:</label>
                      <input type="email" id="email" pattern="[a-zA-Z]{3,}@[a-zA-Z]{3,}[.]{1}[a-zA-Z]{2,}" placeholder="joe@gmail.com" ng-model='reportCtrl.newReport.email' required="required">
                    </div>
                  <div>
                    <button id="butt" type="submit" value="Get Appraised" ng-disabled="secondForm.$invalid" ng-click="showMe=2;" style="border:1px solid black;"> See exact list price </button>
                  </div>
                  </form>
          </div>
        </div>


        <!-- PHONE NUMBER INPUT PAGE -->
        <div class="container" ng-show="showMe==2">
            <h3 class="text-center estimateLabel text-color"><b class="darkest">STEP 3 - SUGGESTED LIST PRICE </b></h3>
            <br>
            <div class-"row">
              <div class="col-xs-6" style="font-weight:bold; font-size:50px; position:relative; top:100px; left:100px;">
                ${{ ((reportCtrl.newReport.gross_rent*12)*0.65)/0.04 | shortNumber}}
              </div>
               <div class="col-xs-6" style="font-weight:bold; font-size:18px; height:350px; width:400px; border:1px solid black; background-color:white; margin-top:20px;"><b class="darkest">Top Local Realator</b><a href="http://www.breinvestment.com" target="_blank"><img src="david.jpeg" alt="david's picture" height="200" width="250" style="padding:10px;"></img></a><br> If you’re interested in selling, list your property with the top apartment broker in the area, David Bramante. Find out more by calling 213-375-3752 or visit <a href="http://www.breinvestment.com" target="_blank">www.breinvestment.com</a></div>
             </div>
             <br>

               <form name="thirdForm" class="add-report" ng-submit='reportCtrl.addReport()'>
                  <br>
                 <div>
                   <label class="nonbold" for="phone" style="padding-top:80px;">Want an immediate all-cash offer? Give us your mobile number:</label>
                   <input type="" id="phone" pattern="^\D?(\d{10})$" placeholder="1112223333" ng-model='reportCtrl.newReport.phone'  required="required">
                   <p id="please">Only tell us the numbers, don’t use any symbols (example: type 2133753752 instead of (213)375-3752 or 213-375-3752) </p>
                 </div>


                        <div class="col-xs-12">
                          <button id="butt" type="submit" value="Get Appraised" ng-click="showMe=3;" style="border:1px solid black;" ng-disabled="thirdForm.$invalid">Get instant cash offer</button>
                        </div>

                    </form>

                <br><br>
            </div>

        <!-- OFFER SUMMARY PAGE -->
          <div class="container" ng-show="showMe==3">
            <h3 class="text-center estimateLabel" id="title"><b class="darkest">STEP 4 - INSTANT CASH OFFER</b></h3>
              <h1 class="text-center estimateLabel" style="font-weight:bold; font-size:75px;" id="cash">
                ${{ (((reportCtrl.newReport.gross_rent*12)*0.65)/0.04)*.7 | shortNumber}}
             </h1>
              <div class="pseudo-pdf box-shadow container">
                <button type="button" class="btn btn-primary" id="printer" onclick="myFunction()">Print this page</button>
                    <script>
                    function myFunction() {
                        $('#printer').hide()
                        $('#hider').hide()
                        $('#again').hide()
                        $('#foots').hide()
                        $('#title').hide()
                        $('#cash').hide()
                        $('#tops').hide()
                        window.print();
                    }
                    </script>
                <header>
                  <div class="col-xs-12">
                    <div style="font-size:60px;" class="VE-header text-center" >&nbsp; ValueEgg</div>
                    <small class=" VE-header-small">  Instant Real Estate Evaluation </small>
                  </div>
                </header>

                <hr style="width: 100%; color: black; height: 1px; background-color:black;"/>

                <div class="text-left content">
                    <p class="text-left" style="font-size:25px;">{{reportCtrl.currentDate | date : 'fullDate'}}</p>
                    <br>
                    <br>
                    <br>
                    <p class="text-left" style="font-size:25px;">Thank you for reaching out to us about your property located at {{reportCtrl.newReport.address}}.<br><br>
                      Based on the gross monthly rent of {{reportCtrl.newReport.gross_rent | currency:"$":0}} that you provided us, we believe you should list your property for around ${{ ((reportCtrl.newReport.gross_rent*12)*0.65)/0.04 | shortNumber}}. <br><br>
                      Want to sell quickly and easily? We'd like to purchase your property for about ${{ (((reportCtrl.newReport.gross_rent*12)*0.65)/0.04)*.7 | shortNumber}}, and this would be a quick, non-contingent, and all-cash escrow.<br><br>
                      Of course we'll need to verify the rents and sign a contract, but we can do that in 48 hours. Call us at 213-216-3754 with the code we texted you.<br>
                    </p>
                </div>

                <br>

                  <h2><b style="font-size:60px;">Cash offer of ${{(((reportCtrl.newReport.gross_rent*12)*0.65)/0.04)*.7 | shortNumber}}</b></h2>


            </div>
          </div>

          <!-- FOOTER -->
          <div id="foots">
          <footer id="footer" class="text-center" style="border:1px solid black;">
                  <p>Copyright &copy; ValueEgg 2016</p>
                  <div id="disc"> Disclaimer: This cash offer is not legally binding and is only for apartment / multifamily buildings in Silver Lake and Echo Park (90026) </div>
                </div>



          </footer>
        </div>

        </div>

    </div>
        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
      </body>

</html>
