<!DOCTYPE html>
<html ng-app="EappraiseApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> ValueEgg </title>

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

    <!--jQuery-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

      <!--google analytics-->
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43263013-2', 'auto');
      ga('send', 'pageview');

    </script>

      <!-- script tags -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
      <script src="node_modules/angular-resource/angular-resource.js"></script>
      <script src="js/app.js"></script>
      <script src="js/reportController.js" charset="utf-8"></script>
      <script src="js/numberAbbreviation.js" charset="utf-8"></script>

      <!--autocomplete -->
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7V0v5x7FCdxtz5mwXtRw66pdzPNzRfmI&libraries=places"></script>
      <script type="text/javascript" src="bower_components/vsGoogleAutocomplete/dist/vs-autocomplete-validator.js"></script>
      <script type="text/javascript" src="bower_components/vsGoogleAutocomplete/dist/vs-google-autocomplete.js"></script>

      <!-- Bootstrap Core CSS -->
      <link href="css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="css/heroic-features.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Average+Sans|Hind+Siliguri|Karma|Pacifico|Puritan" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <link rel="icon" type="image/ico" href="favicon.ico" sizes="32x32"/>

</head>

<!--hide {{}} on load -->
<body ng-cloak>
  <!-- controller tag -->
 <div ng-controller="ReportController as reportCtrl">




    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" href="http://www.valueegg.com/" style="color: white;">ValueEgg</a>
            </div>
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
               </ul>
           </div>
         </div>
    </nav>


     <div class="city-background container-fluid" ng-hide="header">
        <div class="container jumbotron text-center value-egg-header">
             <h1> Welcome to ValueEgg </h1><br>
             <h4> ValueEgg ensures you are getting the most value for your nest egg.</h4>
             <h4> We cut out the middleman and bring you a cash offer at your fingertips. </h4>
           </div>
        </div>


     <div class="text-space"></div>

     <span ng-hide="showMe=showMe">
       <img src="css/progress1.png" alt="">
     </span>
     <span ng-if="showMe==1" ng-show="showMe==1">
       <img src="css/progress2.png" alt="">
     </span>
     <span ng-if="showMe==2" ng-show="showMe==2">
       <img src="css/progress3.png" alt="">
     </span>
     <span ng-if="showMe==3" ng-show="showMe==3">
       <img src="css/progress4.png" alt="">
     </span>
     <span ng-if="showMe==4" ng-show="showMe==4">
       <img id="hider" src="css/progress5.png" alt="">
     </span>

     <hr>

     <!-- ADDRESS AND RENT INPUT PAGE -->
     <div class="row">
       <div class="container" ng-hide="showMe=showMe">
               <form name="myForm" class="add-report" ng-submit='reportCtrl.addReport()'>
                  <div>
                    <label for="gross_rent">Input your monthly rent:</label>
                    <input type="number" id="gross_rent" placeholder="10000" ng-model='reportCtrl.newReport.gross_rent'  required="required">
                       <p id="please"> Please use simple numeric format, ex. 7000, form won't accept formatting like $7,000 </p>
                  </div>

                  <div>
                     <label for="address">&nbsp &nbsp &nbsp &nbsp Input your address:</label>
                     <input vs-google-autocomplete vs-autocomplete-validator="vs-street-address" name="address" type="text" id="address" placeholder="1449 Lake Shore Avenue, Los Angeles, CA, 90026" ng-model='reportCtrl.newReport.address'  required="required">
                   </div>

                   <div>
                     <button id="butt" type="submit" value="Get Appraised" ng-disabled="myForm.$invalid" ng-click="showMe=1;"> Get Estimate Range </button>
                   </div>

                 </form>
          </div>
      </div>

       <!-- EMAIL INPUT PAGE -->
        <div class="row" ng-show="showMe==1">
          <div class="row">
                 <div class="col-xs-12 col-md-12">
                   <h2 class="text-center">Here is your estimated value</h2>
                     <h1 class="text-center estimateLabel" ng-model="vm.newProperty.estimation" style="font-weight:bold; font-size:75px">
                      ${{ (((reportCtrl.newReport.gross_rent*12)*0.65)/0.04)*.95 | shortNumber}} - ${{ (((reportCtrl.newReport.gross_rent*12)*0.65)/0.04)*1.05| shortNumber}}
                     </h1>
                  </div>

                  <form name="secondForm" class="add-report" ng-submit='reportCtrl.addReport()'>
                    <div>
                      <label for="email">Input your email for a list price and a cash offer:</label>
                      <input type="email" id="email" pattern="[a-zA-Z]{3,}@[a-zA-Z]{3,}[.]{1}[a-zA-Z]{2,}" placeholder="joe@gmail.com" ng-model='reportCtrl.newReport.email'  required="required">
                    </div>
                  <div>
                    <button id="butt" type="submit" value="Get Appraised" ng-disabled="secondForm.$invalid" ng-click="showMe=2;"> Get listing Estimate </button>
                  </div>
                  </form>
          </div>
        </div>

        <!-- AGENT SELECTION PAGE -->
        <div class="container" ng-show="showMe==2">
            <h2 class="text-center estimateLabel text-color">Suggested Listing Price</h2><hr>
              <h1 class="text-center estimateLabel text-color" style="font-weight:bold; font-size:75px;">
                ${{ ((reportCtrl.newReport.gross_rent*12)*0.65)/0.04 | shortNumber}}
               </h1>
              <br>
              <h3 class="text-center estimateLabel" style="text-size:65px; background-color:white; text-color:black;"> Select Top Listing Agent in Your Area </h3>

                    <form ng-submit="reportCtrl.addReport()">
                      <div class="col-xs-12 agent-selector">
                        <div class="col-xs-12 col-md-4">
                          <input id="david" type="radio" name="credit-card" value="David Bramante" ng-model='reportCtrl.newReport.agent'>
                          <label class="r-agent david" for="david"></label>
                              <p class="agent-name"><b>David Bramante</b><br> <small>Apartment Specialist</small></p>
                              <p class="bio">Since 2009, I have consistently been one of the top Realtors in sales volume in the 90026 and 90029 zip codes, and my listings sell for top dollar in the fewest days on the market.</p>

                        </div>

                        <div class="col-xs-12 col-md-4">
                          <input ng-model='reportCtrl.newReport.agent' id="agent2" type="radio" name="credit-card" value="Tracy Do">
                          <label class="r-agent agent2"for="agent2"></label>
                              <p class="agent-name"><b>Tracy Do</b><br> <small>Home Specialist</small></p>
                              <p class="bio">I’ve established myself as the #1 agent on LA’s Eastside, known for presenting beautiful properties and negotiating the very best terms for my clients. </p>
                          </div>

                         <div class="col-xs-12 col-md-4">
                            <input ng-model='reportCtrl.newReport.agent' id="agent3" type="radio" name="credit-card" value="Jo O'key">
                            <label class="r-agent agent3"for="agent3"></label>
                            <p class="agent-name"><b>Jo O'Key</b><br><small> Home Specialist</small></p>
                            <p class="bio">I am a full-service, full-time agent with a pulse on the city and the residential housing market. I have years of real estate experience, with the knowledge to make your real estate dream a reality. </p>

                          </div>
                        </div>

                        <div class="col-xs-12">
                          <button id="butt" ng-disabled="!reportCtrl.newReport.agent" type="submit" value="Get Appraised" ng-click="showMe=3;">Get Cash Offer</button>
                        </div>

                    </form>

                <br><br>
            </div>

        <!-- PHONE NUMBER INPUT & TEXT PAGE -->
          <div class="container" ng-show="showMe==3">
            <h2 class="text-center estimateLabel">Offer in Cash:</h2>
              <h1 class="text-center estimateLabel" style="font-weight:bold; font-size:75px;">
                ${{ (((reportCtrl.newReport.gross_rent*12)*0.65)/0.04)*.7 | shortNumber}}
             </h1>
            <br>

            <form name="thirdForm" class="add-report" ng-submit='reportCtrl.addReport()'>

              <div>
                <label for="phone">Interested? We will text you right away!:</label>
                <input type="" id="phone" pattern="^\D?(\d{10})$" placeholder="1112223333" ng-model='reportCtrl.newReport.phone'  required="required">
              </div>

              <div>
                <button id="butt" type="submit" value="Get Appraised" ng-disabled="thirdForm.$invalid" ng-click="showMe=4; header=true"> Get Text and ValueEgg Offer </button>
              </div>

            </form>
          </div>

          <!-- PDF PAGE -->
            <div class="container" ng-show="showMe==4">
              <div class="pseudo-pdf box-shadow container">
                <button type="button" class="btn btn-primary" id="printer" onclick="myFunction()">Print this page</button>
                    <script>
                    function myFunction() {
                        $('#printer').hide()
                        $('#hider').hide()
                        $('#again').hide()
                        $('#foots').hide()
                        window.print();
                    }
                    </script>
                <header>
                  <div class="col-xs-12">
                    <div style="font-size:60px;" class="VE-header text-center" >&nbsp; ValueEgg</div>
                    <small class=" VE-header-small">  Instant Real Estate Evaluation </small>
                  </div>
                </header>

                <hr style="width: 100%; color: black; height: 1px; background-color:black;"/>

                <div class="text-left content">
                    <p class="text-left" style="font-size:25px;">{{reportCtrl.currentDate | date : 'fullDate'}}</p>
                    <br>
                    <br>
                    <br>
                    <!-- NG-IF STATEMENTS TO MATCH AGENTS WITH THEIR LISTING PRICE -->
                    <p class="text-left" style="font-size:25px;">Thank you for reaching out to us about your property located at {{reportCtrl.newReport.address}}.<br><br>
                      Based on the gross monthly rent of {{reportCtrl.newReport.gross_rent | currency:"$":0}} that you provided us, we believe your preferred agent {{reportCtrl.newReport.agent}} should list your property for around ${{ ((reportCtrl.newReport.gross_rent*12)*0.65)/0.04 | shortNumber}}. <br><br>
                      Want to sell quickly and easily? We'd like to purchase your property for about ${{ (((reportCtrl.newReport.gross_rent*12)*0.65)/0.04)*.7 | shortNumber}}, and this would be a quick, non-contingent, and all-cash escrow.<br><br>
                      Of course we'll need to verify the rents and sign a contract, but we can do that in 48 hours. Call us at 213-216-3754 with the code we texted you.<br>
                    </p>
                </div>

                <br>

                  <h2><b style="font-size:60px;">Cash offer of ${{(((reportCtrl.newReport.gross_rent*12)*0.65)/0.04)*.7 | shortNumber}}</b></h2>


            </div>
          </div>

          <!-- FOOTER -->
          <div id="foots">
          <footer id="footer">
            <div class="row">

                <div class="col-lg-12">
                  <p>Copyright &copy; ValueEgg 2016</p>
                  <div id="disc"> Disclaimer: This cash offer is not legally binding and is only for apartment / multifamily buildings in Silver Lake and Echo Park (90026) </div>
                </div>

            </div>

          </footer>
        </div>

        </div>

        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
      </body>

</html>
